/*

Bodynova Styles:

Bodynova Rot: #bd1622;
Bodynova Petrol: #488999;
Bodynova Hellblau: #CCEBF5;



font-size: 16px;
line-height: 1.42857143;
font-family: function_pro,sans-serif !important;

 */

#eac-container-searchParam ul li div a img{
	margin-right: 5px;
}
#suchbutton{
	margin-bottom: -1px;
	margin-top: -1px;
}
.ArtTitle b{
	font-weight: bold;
	color: #488999;
	color: #bd1622;
}
